.add-product-card {
  max-width: 50rem;

  .add-product-img-container {
    overflow: hidden;

    .card-img {
      width: 100%;
      height: 300px;
      object-fit: cover;
      transition: transform 0.5s ease;

      &:hover {
        transform: scale(1.5);
      }
    }
  }

}