@import "../node_modules/bootstrap/scss/bootstrap";

$custom-colors: (
  // "dark": #22668D,
  "primary-yellow": #FFC70A,
  "secondary-dark": #2C2E35,
  "secondary-yellow": #FFFADD
);
 

$theme-colors: map-merge($theme-colors, $custom-colors);
$theme-colors-rgb: map-loop($theme-colors, to-rgb, "$value");
$utilities-colors: map-merge($utilities-colors, $theme-colors-rgb);
$utilities-text-colors: map-loop($utilities-colors, rgba-css-var, "$key", "text");
$utilities-bg-colors: map-loop($utilities-colors, rgba-css-var, "$key", "bg");


// .bg-dark{background-color: var(--bs-dark);};
.bg-primary-yellow{background-color: var(--bs-primary-yellow);};
.bg-secondary-blue{background-color: var(--bs-secondary-blue);};
.bg-secondary-yellow{background-color: var(--bs-secondary-yellow);};

.text-dark{color: var(--bs-dark) !important;};
.text-primary-yellow{color: var(--bs-primary-yellow) !important;};
.text-secondary-blue{color: var(--bs-secondary-blue) !important;};
.text-secondary-yellow{color: var(--bs-secondary-yellow) !important;};


@import "../node_modules/bootstrap/scss/bootstrap";


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--bs-secondary-yellow);
  font-family: 'Open Sans', sans-serif;
  font-family: 'Poppins', sans-serif;
}



.link {
  text-decoration: none;
  color: inherit;
}

.btn {
  border-radius: 20px;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}

.quantity-field {
  display: flex;
  align-items: center;

  span {
    margin-right: 5px;
  }

  .MuiSvgIcon-root {
    cursor: pointer;
  }

  .value {
    width: 50px;
    margin-left: 5px;
    margin-right: 5px;
    text-align: center;
    border: 1px solid var(--bs-secondary-dark);
  }
}