.product-card {
  height: 366px;
  padding: 8px;
  width: 280px;

  .card-body {
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

  }

  .card-title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
  }

  .card-img-top {
    height: 182px;
    object-fit: cover;
    margin-bottom: 10px;
  }
}